@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,200;8..144,400&family=Roboto+Slab:wght@400;600&display=swap");
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.helperText{
  font-size: 1rem;
  color: red;
}
Input .helperText {
  font-size: 1rem;
  color: red;
}

.error-text{
  font-size: 1rem;
  font-family: inherit;
  font-size: 1rem;
}